<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>${vtl_groupId}</groupId>
	<artifactId>${vtl_artifactId}</artifactId>
	<version>${vtl_version}</version>
	<packaging>pom</packaging>

#if($vtl_project.modules.size() > 0)
	<modules>	
#foreach($module in $vtl_project.modules)
		<module>$module.name</module>
#end
	</modules>
#end
	
</project>