<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- appenders -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[${project.version}][%d{dd-MM-yyyy HH:mm:ss,Brazil/East} %X{clientIP}] [%t] %p %c - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${project.artifactId}.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>[${project.version}][%d{dd-MM-yyyy HH:mm:ss,Brazil/East} %X{clientIP}] [%t] %p %c - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${project.artifactId}.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
	</appender>

    <!-- 
	<logger name="package" level="LEVEL" />
    -->

	<root level="error">
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>